.center {
  margin: auto;
}

.navbar {
  width: 95%;
  margin: auto;
}

header {
  background-color: #f8f9fa;
}

.margin-top {
  margin-top: 5vh;
}

.container {
  width: 80%;
  margin: auto;
}

.tint {
  position: relative;
  float: left;
  cursor: pointer;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}

.tint:hover:before {
  background: none;
}

figure {
  margin: 0 0 0rem;
}

.brand-list {
  margin-left: 6vw;
}

.jumbotron-fluid {
  height: 2vh;
}

.display-2 {
  font-family: 'Cabin Sketch', cursive;
  margin-top: -6vh !important;
  text-align: center;
}
